html {
    overflow-y: scroll;
}

.filter-animation {
    transition-property: filter;
    transition-duration: 1s;
}

.force-dark-theme {
    filter: invert(1) hue-rotate(180deg);
}

.force-dark-theme img:not([src$='.svg']) {
    filter: invert(1) hue-rotate(180deg);
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-content img {
    max-width: 100%;
    margin-bottom: 1em;
}

.article-content p {
    text-align: justify;
}

h1 {
    font-family: Raleway;
    font-weight: 200;
    color: darkgreen;
}

h1 a {
    color: darkgreen;
}

.date-col {
    line-height: 1;
    color: #999999;
    margin: 30px 0 20px;
}

.text-lg {
    font-size: 200%;
}

/* Only used in about-page right now */
.vspace-bottom {
    padding-bottom: 20px;
}

.vspace-top {
    padding-top: 20px;
}

.valign-middle {
    vertical-align: middle;
}

.lineheight-100 {
    line-height: 1;
}

/* more edgy nav pills */
.nav-pills > li > a {
    border-radius: 0px;
}

.pagination > li > a {
    border: none;
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
    border-radius: 0px;
}

/* tagcloud */

ul.tagcloud {
    list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-0 {
    font-size: 300%;
}

li.tag-1 {
    font-size: 260%;
}

li.tag-2 {
    font-size: 220%;
}

li.tag-3 {
    font-size: 180%;
}

li.tag-4 {
    font-size: 140%;
}

li.tag-5 {
    font-size: 100%;
}

/* ReST theme follows */

div.admonition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

div.admonition dt {
    font-weight: bold;
}

div.admonition dl {
    margin-bottom: 0;
}

p.admonition-title {
    margin: 0px 10px 5px 0px;
    font-weight: bold;
}

div.body p.centered {
    text-align: center;
    margin-top: 25px;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
    background-color: #eaf5ff;
    border: 1px solid #ccc;
    padding: 5px;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre {
    padding: 5px;
    background-color: #eeffcc;
    color: #333333;
    line-height: 120%;
    border: 1px solid #ac9;
    border-radius: 0px;
}

tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 0.95em;
}

th {
    background-color: #ede;
}

.warning tt {
    background: #efc2c2;
}

.note tt {
    background: #d6d6d6;
}

.viewcode-back {
    font-family: 'Lucida Grande', Arial, sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}

div.related {
    margin-bottom: 1.2em;
    padding: 0.5em 0;
    border-top: 1px solid #ccc;
    margin-top: 0.5em;
}

div.related a:hover {
    color: #0095C4;
}

div.related:first-child {
    border-top: 0;
    border-bottom: 1px solid #ccc;
}

div.body {
    padding: 0 0 0 1.2em;
}

div.body p {
    line-height: 140%;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    margin: 0;
    border: 0;
    padding: 0.3em 0;
}

div.body hr {
    border: 0;
    background-color: #ccc;
    height: 1px;
}

div.body pre {
    border-radius: 3px;
    border: 1px solid #ac9;
}

div.body div.admonition, div.body div.impl-detail {
    border-radius: 3px;
}

div.body div.impl-detail > p {
    margin: 0;
}

div.body div.seealso {
    border: 1px solid #dddd66;
}

div.body a {
    color: #00608f;
}

div.body a:visited {
    color: #30306f;
}

div.body a:hover {
    color: #00B0E4;
}

tt, pre {
    font-family: monospace, sans-serif;
    font-size: 96.5%;
}

div.body tt {
    border-radius: 3px;
}

div.body tt.descname {
    font-size: 120%;
}

div.body tt.xref, div.body a tt {
    font-weight: normal;
}

p.deprecated {
    border-radius: 3px;
}

table.docutils {
    border: 1px solid #ddd;
    min-width: 20%;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

table.docutils td, table.docutils th {
    border: 1px solid #ddd !important;
    border-radius: 3px;
}

table p, table li {
    text-align: left !important;
}

table.docutils th {
    background-color: #eee;
    padding: 0.3em 0.5em;
}

table.docutils td {
    background-color: white;
    padding: 0.3em 0.5em;
}

table.footnote, table.footnote td {
    border: 0 !important;
}

div.footer {
    line-height: 150%;
    margin-top: -2em;
    text-align: right;
    width: auto;
    margin-right: 10px;
}

div.footer a:hover {
    color: #0095C4;
}

/* raleway-200 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/raleway-v22-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v22-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v22-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v22-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v22-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v22-latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* Droid Sans latin */
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/droidsans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

