{% macro class_active(name) -%}
    {% if active_page == name %} class="active"{% endif %}
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
          rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/style.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Droid+Sans|Libre+Baskerville|EB+Garamond|Raleway:200'
          rel='stylesheet' type='text/css'>
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} Atom Feed"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <ul class="nav nav-pills text-lg">
                <li>
                    <a href="{{ SITEURL }}/" title="Go to front page">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-11">
            <ul class="nav nav-pills pull-right">
                <li{{ class_active("blog") }}>
                    <a href="{{ SITEURL }}/">Blog</a>
                </li>
                <li{{ class_active("tags") }}>
                    <a href="{{ SITEURL }}/tags.html">Tags</a>
                </li>
                <li{{ class_active("archives") }}>
                    <a href="{{ SITEURL }}/archives.html">Archives</a>
                </li>
                {% for p in pages %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <section id="content">
        <div class="row page-header">
            <div class="col-md-2"></div>
            <div class="col-md-10">{% block page_title %}<h1>{{ SITENAME }}</h1>{% endblock %}</div>
        </div>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <p class="pull-right">
            <a href="#">Back to top <span class="glyphicon glyphicon-arrow-up"></span></a>
        </p>
    </footer>
</div>

</body>
</html>
